doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:o='urn:schemas-microsoft-com:office:office')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='initial-scale=1.0')
        meta(name='format-detection', content='telephone=no')
        title MOSAICO Responsive Email Designer
        style(type='text/css').
            body {
                margin: 0;
                padding: 0;
            }

            img {
                border: 0px;
                display: block;
            }

            .socialLinks {
                font-size: 6px;
            }

            .socialLinks a {
                display: inline-block;
            }

            .long-text p {
                margin: 1em 0px;
            }

            .long-text p:last-child {
                margin-bottom: 0px;
            }

            .long-text p:first-child {
                margin-top: 0px;
            }
        style(type='text/css').
            /* yahoo, hotmail */
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }

            .yshortcuts a {
                border-bottom: none !important;
            }

            .vb-outer {
                min-width: 0 !important;
            }

            .RMsgBdy, .ExternalClass {
                width: 100%;
                background-color: #3f3f3f;
                background-color: #22252A
            }

            /* outlook/office365 add buttons outside not-linked images and safari have 2px margin */
            [o365] button {
                margin: 0 !important;
            }

            /* outlook */
            table {
                mso-table-rspace: 0pt;
                mso-table-lspace: 0pt;
            }

            #outlook a {
                padding: 0;
            }

            img {
                outline: none;
                text-decoration: none;
                border: none;
                -ms-interpolation-mode: bicubic;
            }

            a img {
                border: none;
            }

            @media screen and (max-width: 600px) {
                table.vb-container, table.vb-row {
                    width: 95% !important;
                }

                .mobile-hide {
                    display: none !important;
                }

                .mobile-textcenter {
                    text-align: center !important;
                }

                .mobile-full {
                    width: 100% !important;
                    max-width: none !important;
                }
            }

            /* previously used also screen and (max-device-width: 600px) but Yahoo Mail doesn't support multiple queries */
        style(type='text/css').
            #ko_textBlock_10 .links-color a, #ko_textBlock_10 .links-color a:link, #ko_textBlock_10 .links-color a:visited, #ko_textBlock_10 .links-color a:hover {
                color: #3f3f3f;
                color: #28a745;
                text-decoration: underline
            }

            #ko_textBlock_1 .links-color a, #ko_textBlock_1 .links-color a:link, #ko_textBlock_1 .links-color a:visited, #ko_textBlock_1 .links-color a:hover {
                color: #3f3f3f;
                color: #28a745;
                text-decoration: underline
            }

            #ko_footerBlock_2 .links-color a, #ko_footerBlock_2 .links-color a:link, #ko_footerBlock_2 .links-color a:visited, #ko_footerBlock_2 .links-color a:hover {
                color: #cccccc;
                color: #cccccc;
                text-decoration: underline
            }

            #ko_imageBlock_4 a, #ko_imageBlock_4 a:link, #ko_imageBlock_4 a:visited, #ko_imageBlock_4 a:hover {
                color: #3f3f3f;
                color: #28a745;
                text-decoration: underline
            }
    body(bgcolor='#22252A', text='#919191', alink='#cccccc', vlink='#cccccc', style='margin: 0; padding: 0; background-color: #22252A; color: #919191;')
        center
            table#ko_titleBlock_9.vb-outer(width='100%', cellpadding='0', border='0', cellspacing='0', bgcolor='#22252A', style='background-color: #22252A;')
                tbody
                    tr
                        td.vb-outer(align='center', valign='top', style='padding-left: 9px; padding-right: 9px; font-size: 0;')
                            //if (gte mso 9)|(lte ie 8)
                              table(align='center', border='0', cellspacing='0', cellpadding='0', width='570')
                                tr
                                  td(align='center', valign='top')
                            //
                            div(style='margin: 0 auto; max-width: 570px; -mru-width: 0px;')
                                table.vb-row(border='0', cellpadding='0', cellspacing='0', bgcolor='#22252A', width='570', style='border-collapse: separate; width: 100%; background-color: #22252A; mso-cellspacing: 0px; border-spacing: 0px; max-width: 570px; -mru-width: 0px;')
                                    tbody
                                        tr
                                            td(align='center', valign='top', style='font-size: 0; padding: 0 9px;')
                                                div(style='display: inline-block; vertical-align: top; width: 100%; max-width: 552px; -mru-width: 0px;')
                                                    //
                                                    table.vb-content(border='0', cellspacing='9', cellpadding='0', style='border-collapse: separate; width: 100%; mso-cellspacing: 9px; border-spacing: 9px;', width='552')
                                                        // TODO class="title"
                                                        tbody
                                                            tr
                                                                td(width='100%', valign='top', align='center', style='font-weight: normal; color: #DFE2E6; font-size: 25px; font-family: Verdana, Geneva, sans-serif; text-align: center;')
                                                                    span(style='font-weight: normal;') Welcome to adventure!
                            //
                            //if (gte mso 9)|(lte ie 8)
            table#ko_imageBlock_4.vb-outer(width='100%', cellpadding='0', border='0', cellspacing='0', bgcolor='#22252A', style='background-color: #22252A;')
                tbody
                    tr
                        td.vb-outer(align='center', valign='top', style='padding-left: 9px; padding-right: 9px; font-size: 0;')
                            //if (gte mso 9)|(lte ie 8)
                              table(align='center', border='0', cellspacing='0', cellpadding='0', width='570')
                                tr
                                  td(align='center', valign='top')
                            //
                            div(style='margin: 0 auto; max-width: 570px; -mru-width: 0px;')
                                table.vb-container(border='0', cellpadding='0', cellspacing='0', bgcolor='#22252A', width='570', style='border-collapse: separate; width: 100%; background-color: #22252A; mso-cellspacing: 0px; border-spacing: 0px; max-width: 570px; -mru-width: 0px;')
                                    tbody
                                        tr
                                            td.links-color(width='100%', valign='top', align='center')
                                                //if (lte ie 8)
                                                  div(style='display: inline-block; width: 570px; -mru-width: 0px;')
                                                img.mobile-full(alt='', border='0', hspace='0', align='center', vspace='0', width='570', style='border: 0px; display: block; vertical-align: top; height: auto; margin: 0 auto; color: #DFE2E6; font-size: 16px; font-family: Georgia, serif; width: 100%; max-width: 570px; height: auto;', src='https://mosaico.io/srv/f-2qi7fgg/img?method=placeholder&params=570%2C200')
                                                //if (lte ie 8)
                            //
                            //if (gte mso 9)|(lte ie 8)
            table#ko_textBlock_10.vb-outer(width='100%', cellpadding='0', border='0', cellspacing='0', bgcolor='#22252A', style='background-color: #22252A;')
                tbody
                    tr
                        td.vb-outer(align='center', valign='top', style='padding-left: 9px; padding-right: 9px; font-size: 0;')
                            //if (gte mso 9)|(lte ie 8)
                              table(align='center', border='0', cellspacing='0', cellpadding='0', width='570')
                                tr
                                  td(align='center', valign='top')
                            //
                            div(style='margin: 0 auto; max-width: 570px; -mru-width: 0px;')
                                table.vb-container(border='0', cellpadding='0', cellspacing='18', bgcolor='#22252A', width='570', style='border-collapse: separate; width: 100%; background-color: #22252A; mso-cellspacing: 18px; border-spacing: 18px; max-width: 570px; -mru-width: 0px;')
                                    tbody
                                        tr
                                            td.long-text.links-color(width='100%', valign='top', align='center', style='font-weight: normal; color: #DFE2E6; font-size: 16px; font-family: Georgia, serif; text-align: center; line-height: 150%;')
                                                p(style='margin: 1em 0px; margin-top: 0px;') Hello #{name},
                                                p(style='margin: 1em 0px; margin-bottom: 0px;') please copy the link below to complete your registration.
                            //
                            //if (gte mso 9)|(lte ie 8)
            table#ko_buttonBlock_11.vb-outer(width='100%', cellpadding='0', border='0', cellspacing='0', bgcolor='#22252A', style='background-color: #22252A;')
                tbody
                    tr
                        td.vb-outer(align='center', valign='top', style='padding-left: 9px; padding-right: 9px; font-size: 0;')
                            //if (gte mso 9)|(lte ie 8)
                              table(align='center', border='0', cellspacing='0', cellpadding='0', width='570')
                                tr
                                  td(align='center', valign='top')
                            //
                            div(style='margin: 0 auto; max-width: 570px; -mru-width: 0px;')
                                table.vb-container(border='0', cellpadding='0', cellspacing='18', bgcolor='#22252A', width='570', style='border-collapse: separate; width: 100%; background-color: #22252A; mso-cellspacing: 18px; border-spacing: 18px; max-width: 570px; -mru-width: 0px;')
                                    tbody
                                        tr
                                            td(valign='top', align='center')
                                                table(cellpadding='12', border='0', align='center', cellspacing='0', style='border-spacing: 0; mso-padding-alt: 12px 12px 12px 12px;')
                                                    tbody
                                                        tr
                                                            td(width='auto', valign='middle', align='center', style='text-align: center; font-weight: normal; font-size: 14px; font-family: Verdana, Geneva, sans-serif; ')
                                                                a(style='text-decoration: none; font-weight: normal; border-radius: 4px; border: solid 1px #9bbb59; color: #9bbb59; padding: 12px; padding-left: 14px; padding-right: 14px;  font-size: 14px; font-family: Verdana, Geneva, sans-serif;', target='_new', href='#{link}') Start game
                            //
                            //if (gte mso 9)|(lte ie 8)
            table#ko_textBlock_1.vb-outer(width='100%', cellpadding='0', border='0', cellspacing='0', bgcolor='#22252A', style='background-color: #22252A;')
                tbody
                    tr
                        td.vb-outer(align='center', valign='top', style='padding-left: 9px; padding-right: 9px; font-size: 0;')
                            //if (gte mso 9)|(lte ie 8)
                              table(align='center', border='0', cellspacing='0', cellpadding='0', width='570')
                                tr
                                  td(align='center', valign='top')
                            //
                            div(style='margin: 0 auto; max-width: 570px; -mru-width: 0px;')
                                table.vb-container(border='0', cellpadding='0', cellspacing='18', bgcolor='#22252A', width='570', style='border-collapse: separate; width: 100%; background-color: #22252A; mso-cellspacing: 18px; border-spacing: 18px; max-width: 570px; -mru-width: 0px;')
                                    tbody
                                        tr
                                            td.long-text.links-color(width='100%', valign='top', align='center', style='font-weight: normal; color: #DFE2E6; font-size: 16px; font-family: Georgia, serif; text-align: center; line-height: 150%;')
                                                p(style='margin: 1em 0px; margin-bottom: 0px; margin-top: 0px;') Best regards, #{project} Team.
                            //
                            //if (gte mso 9)|(lte ie 8)
